<!DOCTYPE html>
<html lang="es">
	<head >
		<meta charset="UTF-8">
		<title>Formulario de cliente </title>
		<link rel="stylesheet" href="../static/estilos.css">
	</head>
	<body>
		<header id="encabezado">
			<h1> Registro de cliente </h1>
		</header>
		<form action ="#" method="post"  class="formulario">
			<div class="formimput" >
				<label for="dni">DNI: </label>
			   <input type="number" id="dni" name="dni" required="required">
			</div>
			
			<div class="formimput">
				<label for="nombres" >Nombres</label>
			    <input type="text" id="nombres" name="nombres" required>
			</div>
			 
			<div class="formimput">
				<label for="apellidos">Apellidos</label>
			    <input type="text" id="apellidos" name="apellidos" required>
			</div>
			
			<div class="formimput">
				<label for="fechaNacimiento" >Fecha de Nacimiento</label>
			    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
			</div>
			
			<div class="formimput">
				<label for="genero">Generos: </label>
			<label  for="femenino">Femenino</label>
			<input type="radio" id="femenino" name="femenino" >
			<label for="masculino">Masculino</label>
			<input type="radio" id="masculino" name="masculino">
			<label for="x">X</label>
			<input type="radio" id="x" name="x">
			</div>
			
			<div class="formimput">
				<label for="correoelectronico"> correoelectronico</label>
			<input type="email" id="correoelectronico" name="correoelectronico" required>
			</div>
			
			<div class="formimput">
				<label for="domicilio">Domicilio</label>
			<input type="text" id="domiilio" name="domicilio">
			</div>
			
			<div class="formimput">
				<label for="provincia"> Provincia</label>
			<select id="provincia" name="provincia" required>
				<option value="JUJUY">Jujuy</option>
				<option value="SALTA">Salta</option>
				<option value="TUCUMAN">Tucuman</option>
				<option value="MISIONES">Misiones</option>
				<option value="BUENOS AIRES">Buenos Aires</option>
				<option value="CATAMARCA">Catamarca</option>
				<option value="CORDOBA" >Cordoba</option>
				<option value="SANTIAGO DEL ESTERO ">Santiago del estero</option>
			</select>
			</div>
			
			<div class="formimput">
				<label for="telefonoCelular">Telefono Celular</label>
			<input type="number" id="telefonoCelular" name="telefonoCelular" > 
			</div>
			
			<div class="formimput">
				<label for="categoriadeInteres"> Selecionar categoria de interes</label>
			<input type="checkbox" id="categoriadeInteres" name="categoriadeInteres">
			</div>
			
			<div class="formimput">
				<label for="sugerencias">Sugerencia para la empresa</label> 
			<textarea cols="50" rows="4" ></textarea>
			</div>
			
			<div class="formimput">
				<label for="pasword">Contraseña</label>
			<input type="password" id="pasword" name="pasword" required>
			</div>
			
			<div class="formimput">
				<label for="aceptarCondiciones">Aceptar los terminos y condiciones</label>
			<input type="checkbox" id="acetptarCondiciones" name="aceptarCondiciones" required>
			</div>
			
			<div class="formimput">
				<label for="aceptoRecibirInformacion" > Acepto recibir informacion relativa a la empresa</label>
			<input type="checkbox" id="aceptoRecibirInformacion" name="aceptoRecibirInformacion">
			</div>
			
			<button type="submit">Enviar</button>
		</form>
		
		
		 <footer class="footer">
        <!-- El pie de página  -->
        <p>REDES SOCIALES</p>
        <a href="info@fi.unju.edu.ar"> correo electronico</a>
        <a href="https://www.facebook.com/fiunju/">facebook</a>
        <a href="https://www.instagram.com/fiunju/"> instagram</a>
    </footer>
	</body>
</html>