<!DOCTYPE html>
<html>
   <head>
          <meta charset="UTF-8">
          <title>universidad de jujuy </title>
  
   </head>
<body>
   
    <header>
		<h1> Analista Programador Universitario </h1>
        <!-- Contenido del encabezado de la página -->
    </header>

    <nav>
        <!-- enlaces de navegación -->
        <ul>
			<li><a href="https://www.fi.unju.edu.ar"> fi unju</a></li>
			<li><a href="https://virtual.unju.edu.ar"> unju virtual</a></li>
			<li><a href="https://www.fca.unju.edu.ar"> unju agrarias</a></li>
		</ul>
    </nav>

      <main>
        <!-- El contenido principal de la página -->
         <section id="inicio">
			<h2>Segundo Año</h2>
			<p> materias que pertenecen a la carrera Analista Programador Universitario</p>
			<h3>Materias </h3>
			<ol>
				<li>Programacion Visual</li>
				<li>Laboratorio de Sistemas Operativos II</li>
				<li>Algebra I</li>
				<li>Base de Datos II</li>
				<li>Programacion Concurrente y Paralela</li>
				<li>Programacion Orientada a Objeto</li>
			</ol>
			
			<p> Programa de Programacion Visual </p>
			<table border="1">
				<tr>
					<th> unidades </th>
					<th> Materia: Programacion Visual 2024</th>
				</tr>
				<tr>
					<td> U1</td>
					<td> Lenguaje Java</td>
				</tr>
				<tr>
					<td>UII</td>
					<td>Introduccion a Spring Boot</td>
				</tr>
				<tr>
					<td>UIII</td>
					<td>Gestion de Dependencias y Versionamiento</td>
				</tr>
				
			</table>
		 </section>
      </main>

    <footer>
        <!-- El pie de página  -->
        <a> </a>
    </footer>
</body>
</html>