<!DOCTYPE html>
<html>
   <head >
          <meta charset="UTF-8">
          <title>universidad de jujuy </title>
          <link rel="stylesheet" href="../static/estilosIndex.css">
  
   </head>
<body>
   
    <header id="encabezado">
		<h1> Analista Programador Universitario </h1>
        <!-- Contenido del encabezado de la página -->
    </header>

    <nav class="navegacion">
        <!-- enlaces de navegación -->
        <ul>
			<li><a  href="https://www.fi.unju.edu.ar"> fi unju</a></li>
			<li><a href="https://virtual.unju.edu.ar"> unju virtual</a></li>
			<li><a href="https://www.fca.unju.edu.ar"> unju agrarias</a></li>
		</ul>
    </nav>
	<div class="contenedor">
		 <main class="contenido">
        <!-- El contenido principal de la página -->
         <section id="inicio">
			<h2>Segundo Año</h2>
			<p> materias que pertenecen a la carrera Analista Programador Universitario</p>
			<h3>Materias </h3>
			<ol class="ool">
				<li>Programacion Visual</li>
				<li>Laboratorio de Sistemas Operativos II</li>
				<li>Algebra I</li>
				<li>Base de Datos II</li>
				<li>Programacion Concurrente y Paralela</li>
				<li>Programacion Orientada a Objeto</li>
			</ol>
			
			<p class="subrayado"> Programa de Programacion Visual </p>
			<table  class="tabla">
				<tr>
					<th> unidades </th>
					<th> Materia: Programacion Visual 2024</th>
				</tr>
				<tr>
					<td> U1</td>
					<td> Lenguaje Java</td>
				</tr>
				<tr>
					<td>UII</td>
					<td>Introduccion a Spring Boot</td>
				</tr>
				<tr>
					<td>UIII</td>
					<td>Gestion de Dependencias y Versionamiento</td>
				</tr>
			</table>	
		
		 </section>
      </main>
      <aside class="asideIndex">
		  <h3>contenido adicionales</h3>
		 <img class="imagen"  alt="imagen" src="../static/images/WhatsApp Image 2024-05-09 at 19.18.53.jpeg"> 
	  </aside>
	</div>
     

    <footer id="footer">
        <!-- El pie de página  -->
        <p>REDES SOCIALES</p>
        <a href="info@fi.unju.edu.ar"> correo electronico</a>
        <a href="https://www.facebook.com/fiunju/">facebook</a>
        <a href="https://www.instagram.com/fiunju/"> instagram</a>
    </footer>
</body>
</html>